.started {
  max-width: 900px;
  margin: 100px auto 70px;
  border-radius: 30px;
  background-color: #fbfbfb;
  position: relative;
  padding: 60px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  *:not(img) {
    position: relative;
    z-index: 100;
  }
  &-caption {
    margin-bottom: 20px;
  }
  &-heading {
    margin-bottom: 30px;
  }
  &-desc {
    max-width: 245px;
    margin-bottom: 50px;
    color: $gray-dark;
  }
  &-comment {
    position: absolute;
    bottom: 50px;
    left: 50px;
  }
  &-smile {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
  }

  @media screen and (max-width: 767px) {
    margin-top: 0;
    &-smile {
      transform: translate(-50%, -50%);
    }
    &-comment,
    &-smile {
      max-width: 20%;
    }
  }
}
